:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  counter-reset: services-number
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-heading {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 800;
  font-size: 1.7rem;
  margin: 80px auto 80px;
  border: 2px solid black;
  padding: 10px 30px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3 linear;
  z-index: 50;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.main-heading::before {
  left: -30px;
}

.main-heading::after {
  right: -30px;
}

.main-heading:hover::before {
  animation: left-move 0.5s linear forwards;
}

.main-heading:hover::after {
  animation: right-move 0.5s linear forwards;
}

.main-heading:hover {
  color: white;
  border-color: white;
  transition-delay: 0.4s;
}

@keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 75%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 75%;
    height: 100%;
  }
}


/* start scroll to top */

.scroll-to-top {
  padding: 8px 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  z-index: 100;
  transition: 0.3s;
  /* display: none; */
  opacity: 0;
}


/* end scroll to top */


/* start header */

header {
  background-color: white;
  box-shadow: 0 0 15px #ddd;
  position: relative;
}

header .logo {
  height: 72px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 2rem;
}

@media(max-width:767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}

header .main-nav>li>a {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 30px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3 ease;
}

@media(max-width:767px) {
  header .main-nav>li>a {
    padding: 0 15px;
    font-size: 13px;
    height: 40px;
  }
}

header .main-nav>li>a::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3 ease;
}

header .main-nav>li>a:hover {
  background-color: #f8f8f8;
  color: var(--main-color);
}

header .main-nav>li>a:hover::before {
  left: 0;
}

header .mega-menu {
  position: absolute;
  padding: 20px;
  background-color: white;
  width: 100%;
  left: 0;
  top: 40%;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  box-shadow: 0 50px 50px -50px #555;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

@media (max-width:767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

header #other-links:hover .mega-menu {
  top: 100%;
  opacity: 1;
  z-index: 100;
}

header .mega-menu img {
  margin: auto 0;
}

@media (min-width:991px) {
  header .mega-menu img {
    height: 180px;
  }
}

@media (min-width:1200px) {
  header .mega-menu img {
    height: 250px;
  }
}

header .mega-menu .links {
  text-align: start;
  min-width: 250px;
}

header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

@media (max-width:767px) {
  header .mega-menu .links:nth-of-type(1) li:last-child {
    border-bottom: 1px solid #ccc;
  }
}

header .mega-menu .links a {
  color: var(--main-color);
  font-weight: bold;
  display: block;
  padding: 20px;
}

header .mega-menu .links a i {
  margin-right: 15px;
}


/* end header */


/* start landing */

.landing {
  background-color: #ececec;
}

.landing .container {
  height: calc(100vh - 72px);
  position: relative;
}

@media(max-width:767px) {
  .landing .container {
    height: calc(100vh - 90px);
  }
}

.landing .container .text {
  flex-basis: 50%;
}

.landing .container img {
  position: relative;
  width: 400px;
  animation: up-and-down 5s ease-in-out infinite;
}

@keyframes up-and-down {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(5%);
  }
}

.landing .container a {
  color: var(--main-color-alt);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: bouncing 1.3s ease-in-out infinite;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-70%);
  }
  60% {
    transform: translateY(-50%);
  }
}


/* end landing */


/* start articles */

.articles {
  margin-bottom: 80px;
}

.articles .card a {
  color: var(--main-color);
  border-top: 1px solid var(--section-background);
  padding-top: 15px;
}

.articles .card {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

.articles .card:hover {
  transform: translateY(-3.5%);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.articles .card:hover a i {
  animation: move-right-and-left 0.5s ease-in-out infinite;
}

.articles .card a i {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3 linear;
}

@keyframes move-right-and-left {
  100% {
    transform: translateX(50%);
  }
}


/* end articles */


/* start gallery */

.gallery {
  position: relative;
  background-color: var(--section-background);
  padding-top: 1px;
  padding-bottom: 40px;
}

.gallery .box .image {
  padding: 15px;
  margin: 15px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
  overflow: hidden;
  position: relative;
}

.gallery .box .image .img-cont {
  overflow: hidden;
}

.gallery .box img {
  /* margin: 15px; */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3 linear;
}

.gallery .box .image:hover img {
  transform: rotate(3deg) scale(107%);
}


/* end gallery */


/* start features */

.features {
  padding-bottom: 70px;
}

.features .card .image {
  overflow: hidden;
}

.features .card .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.features .card[feature="quality"] .image::before {
  background-color: rgba(244, 64, 54, 0.5);
}

.features .card[feature="time"] .image::before {
  background-color: rgba(93, 255, 93, 0.5);
}

.features .card[feature="passion"] .image::before {
  background-color: rgba(3, 169, 244, 0.5);
}

.features .card .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 170px 600px;
  border-color: transparent transparent white transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

.features .card:hover .image::after {
  border-width: 0px 600px 170px 0px;
  border-color: transparent transparent white transparent;
}

.features h1::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.features .card[feature="quality"] h1::before {
  background-color: rgb(244, 64, 54);
}

.features .card[feature="time"] h1::before {
  background-color: rgb(93, 255, 93);
}

.features .card[feature="passion"] h1::before {
  background-color: rgb(3, 169, 244);
}

.features a {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px!important;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

.features .card[feature="quality"] a {
  color: rgb(244, 64, 54);
  border-color: rgb(244, 64, 54);
}

.features .card[feature="time"] a {
  color: rgb(93, 255, 93);
  border-color: rgb(93, 255, 93);
}

.features .card[feature="passion"] a {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}

.features a::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

.features .card[feature="quality"] a::before {
  background-color: rgb(244, 64, 54);
}

.features .card[feature="time"] a::before {
  background-color: rgb(93, 255, 93);
}

.features .card[feature="passion"] a::before {
  background-color: rgb(3, 169, 244);
}

.features .card:hover a {
  color: white;
}

.features .card:hover a::before {
  left: 0%;
}


/* end features */


/* start testimonials */

.testimonials {
  padding-top: 1px;
  padding-bottom: 20px;
  background-color: var(--section-background);
}

.testimonials .box {
  position: relative;
  background-color: white;
  margin: 30px 10px;
  padding: 30px 20px;
  border-radius: 5px;
}

.testimonials .box h3 {
  font-weight: bold;
}

.testimonials .box img {
  position: absolute;
  width: 90px;
  right: 0;
  top: -50px;
  border: 8px solid var(--section-background);
  border-radius: 50%;
}

.testimonials .box i.filled {
  color: rgb(241, 205, 0);
  margin: 10px 0;
}


/* end testimonials */


/* start team members */

.team .box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: -2;
  transition: var(--main-transition);
}

.team .box::before {
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  z-index: -2;
}

.team .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
}

.team .box:hover::after {
  width: calc(100% - 60px);
}

.team .box .data {
  padding: 60px 20px 40px;
}

.team .box img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: 0.3s;
}

.team .box:hover img {
  filter: grayscale(100%);
}

.team .box a {
  width: 60px;
  text-align: center;
}

.team .box a i {
  padding: 20px 0 20px;
  font-size: 1.25rem;
  transition: 0.3s;
}

.team .box a:hover i {
  color: var(--main-color);
}

.team .box .info {
  padding-left: 100px;
  padding-bottom: 20px;
}

.team .box .info h3 {
  font-weight: bold;
  color: var(--main-color-alt);
}

.team .box:hover .info h3 {
  color: #666;
}


/* end team members */


/* start services */

.services {
  padding-top: 1px;
  padding-bottom: 30px;
  background-color: var(--section-background);
}

.services .srv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin: 30px;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services-number;
  transition: var(--main-transition);
  position: relative;
}

.services .srv:hover {
  transform: translateY(-15px);
}

.services .srv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}

.services .srv:hover::before {
  width: 100%;
}

.services .srv i {
  color: #d5d5d5;
  margin-bottom: 15px;
}

.services .srv h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.services .srv .info {
  text-align: end;
  width: 100%;
  background-color: #e8e8e8;
  padding: 12px 15px;
  position: relative;
}

.services .srv .info::before {
  content: "0" counter(services-number);
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background-color: var(--main-color-alt);
}

.services .srv .info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 92px;
  height: 100%;
  width: 50px;
  background-color: #bbbbbb;
  transform: skewX(-20deg);
}

.services .srv .info a {
  color: var(--main-color);
}


/* end services */


/* start our-skills */

.our-skills {
  padding-bottom: 50px;
}

.our-skills img {
  flex: 1;
}

.our-skills .skills {
  flex: 1;
  padding: 20px;
}

@media (max-width:992px) {
  .our-skills img {
    width: 40%;
  }
}

.our-skills .skills .skill {
  margin-bottom: 40px;
}

.our-skills .skills .skill span.below {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #dedede
}

.our-skills .skills .skill span.above {
  display: block;
  height: 30px;
  background-color: var(--main-color);
  position: relative;
}

.our-skills .skills .skill span.above::after {
  content: attr(data-progress);
  position: absolute;
  border-radius: 3px;
  padding: 2px 5px;
  top: -37px;
  right: -35px;
  transform: translateX(-50%);
  /* height: 3px;
  width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3 ease-in-out;
}


/* end our-skills */


/* start how it works */

.how-it-works {
  padding-top: 1px;
  padding-bottom: 50px;
  background-color: var(--section-background);
}

.how-it-works .info {
  flex: 1;
}

.how-it-works .how-img {
  flex: 1;
  margin-right: 40px;
}

.how-it-works .box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.how-it-works .box img {
  width: 60px;
  margin-right: 30px;
}

@media (max-width:992px) {
  .how-it-works .box {
    flex-direction: column;
    text-align: center;
  }
  .how-it-works .box img {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .how-it-works .how-img {
    margin: 0;
    padding: 50px;
  }
}


/* end how it works */


/* start latest events */

.latest-events {
  padding-bottom: 50px;
}

.latest-events img {
  max-width: 500px;
  flex-basis: 45%;
}

.latest-events .info {
  flex-basis: 45%;
}

.latest-events form {
  width: 100%;
}

.latest-events .timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-events .timer .unit {
  margin: 40px 20px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.latest-events .timer .unit span:first-child {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px 15px;
}

.latest-events .timer .unit span:last-child {
  border-top: 1px solid #bbb;
  padding: 10px 15px;
  font-size: 0.75rem;
}

.latest-events .timer .unit span {
  text-align: center;
  display: block;
  width: 100%;
}

.latest-events form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--section-background);
  padding: 20px;
  max-width: 500px;
  border-radius: 50px;
}

.latest-events form input[type="email"] {
  flex: 1;
  border: none;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--main-color);
}

.latest-events form input[type="email"]:focus {
  outline: none;
}

.latest-events form input[type="submit"] {
  background-color: var(--main-color);
  border-radius: 50px;
  padding: 20px;
  border: none;
  color: white;
}

@media (max-width:767px) {
  .latest-events .timer .unit {
    margin: 20px 10px;
  }
  .latest-events .timer .unit span:first-child {
    font-size: 2rem;
    padding: 5px 10px;
  }
}


/* end latest events */


/* start pricing plan */

.pricing-plans {
  background-color: var(--section-background);
  padding-top: 1px;
  padding-bottom: 50px;
}

.pricing-plans .plan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 300px; */
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background: white;
  padding: 60px 25px;
  margin: 30px;
}

.pricing-plans .plan h3 {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pricing-plans .plan img {
  width: 60px;
}

.pricing-plans .plan .price {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2rem;
  color: var(--main-color);
}

.pricing-plans .plan ul {
  width: 100%;
  align-self: flex-start;
}

.pricing-plans .plan ul li {
  border-top: 1px solid #cacaca;
  padding: 15px;
}

.pricing-plans .plan ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing-plans .plan a {
  margin-top: 25px;
  padding: 15px 20px;
  border: 3px solid var(--main-color);
  border-radius: 3px;
  color: var(--main-color-alt);
  font-weight: bold;
  transition: 0.3s;
}

.pricing-plans .plan a:hover {
  color: white;
  background-color: var(--main-color);
}

.pricing-plans .most-popular::before {
  content: "Most Popular";
  writing-mode: vertical-lr;
  position: absolute;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 17px;
  height: 140px;
  width: 40px;
  background-color: var(--main-color-alt);
  padding-bottom: 20px;
}

.pricing-plans .most-popular::after {
  content: "";
  position: absolute;
  top: 100px;
  right: 17px;
  height: 40px;
  width: 40px;
  border: 20px solid;
  border-color: transparent transparent white transparent;
}


/* end pricing plan */


/* start videos */

.videos {
  padding-bottom: 80px;
}

.videos .container {
  border: 1px solid #ddd;
  background-color: var(--section-background);
}

.videos .row {
  align-items: center;
}

.videos .list .name {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.videos .list ul li {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
}

.videos .list ul li span {
  display: block;
  color: #888;
}

.videos iframe {
  width: 100%;
  height: 415px;
}

@media (min-width:1400px) {
  .videos iframe {
    height: 480px;
  }
}

@media (max-width:767px) {
  .videos iframe {
    height: 300px;
  }
}

@media (max-width:576px) {
  .videos iframe {
    width: 100%;
    height: 210px;
  }
}


/* start videos */


/* start stats */

.stats {
  background-image: url(../images/stats.jpg);
  background-size: cover;
  padding: 80px 20px;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* z-index: -1; */
}

.stats * {
  position: relative;
}

.stats h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 55px;
}

.stats .stat {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17.5px 10px;
}

.stats .stat .number {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 5px 0 5px;
}

.stats .stat .text {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
}


/* end stats */


/* start discount */

.discount .row {
  min-height: 80vh;
}

.discount .image {
  padding: 40px 10px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  animation: change-background 10s linear infinite;
  background-size: cover;
}

.discount .image p {
  max-width: 500px;
}

.discount .image img {
  width: 300px;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 96%);
  z-index: -1;
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}

.discount form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount form input:not([type="submit"]),
.discount form textarea {
  border: none;
  background: #f3f3f3;
  padding: 20px 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bbb;
  caret-color: var(--main-color);
  width: 60%;
  min-width: 320px;
}

.discount form textarea {
  height: 230px;
}

.discount form input:not([type="submit"]):focus,
.discount form textarea:focus {
  outline: none;
}

.discount form input[type="submit"] {
  border: none;
  background-color: var(--main-color);
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  margin-top: 10px;
}

@media (max-width:992px) {
  .discount .row {
    gap: 40px;
  }
  .discount form,
  .discount .image {
    flex-basis: 100%;
  }
}


/* end discount */


/* start footer */

.footer {
  background-color: #191919;
  color: #b9b9b9;
  padding: 50px 10px 70px;
  position: relative;
}

@media (max-width:992px) {
  .footer .info,
  .footer .footer-gallery,
  .footer .box,
  .footer .links {
    margin-bottom: 35px;
  }
}

.footer .box h1 {
  color: white;
  font-size: 2.7rem;
  margin-top: 0;
}

.footer .social-icons {
  font-size: 1.5rem;
  margin-top: 35px;
  margin-bottom: 15px;
}

.footer .social-icons a {
  color: white;
  text-decoration: none;
  padding: 10px 25px 10px 0px;
}

.footer .links {
  margin-right: 30px;
}

.footer .links li {
  cursor: pointer;
  padding: 15px 20px;
  transition: 0.3s;
}

.footer .links li:hover {
  padding-left: 30px;
  color: white;
}

.footer .links li:not(:last-child) {
  border-bottom: 1px solid #555;
}

.footer .links li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .info .one-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer .info .one-info i {
  color: var(--main-color);
  font-size: 1.75rem;
  margin: 10px 10px 10px 0;
}

.footer .info .one-info p {
  margin-bottom: 0;
}

@media (max-width:992px) {
  .footer {
    margin-top: 50px;
  }
}

@media (max-width:767px) {
  .footer .info .one-info {
    flex-direction: column;
  }
  .footer .links {
    margin-right: 0;
  }
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copy-right {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #555;
}


/* end footer */